<!DOCTYPE html>
<html>
    <head>
        <title>catgifs</title>
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    </head>
    <body>
        <header><h1>cat gifs</h1></header>
        <section class="container">
            <img src="{{url}}" />
            <p>Refresh your browser to get a new one.</p>
        </section>
        <footer><p><a href="http://www.buzzfeed.com/copyranter/the-best-cat-gif-post-in-the-history-of-cat-gifs">image source</a></p></footer>
    </body>
</html>
