* { margin: 0; padding: 0; }

footer,
header,
.container {
    width: 500px;
    margin: auto;
}

img {
    margin-left: auto; margin-right: auto; display: block;
}

header {
    background: white;
}

header h1 {
    padding: 20px;
    color: purple;
    font-family: 'Bungee Shade', cursive; 
    text-align: center;
}

footer {
    text-align: right;
}

footer p {
    font-size: .75em;
}

.container {
    background: pink;
}

.container p {
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-weight: 200;
}
